{{ define "main" }}
  {{ partial "sidebar.html" (dict "context" . "disableSidebar" true) }}
  <main id="content" class="site-main site-blog-main">
    <div class="site-content">
      {{ with .Content }}<div class="site-blog-intro content">{{ . }}</div>{{ end }}
      <ol class="site-blog-list">
        {{- range .RegularPages.ByDate.Reverse }}
          <li class="site-blog-entry">
            <time class="site-blog-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
            <h2 class="site-blog-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            {{- with .Description }}<p class="site-blog-summary">{{ . }}</p>{{ end }}
          </li>
        {{- end }}
      </ol>
    </div>
  </main>
{{ end }}
